.filters {
  position: sticky;
  top: 120px;
  padding: 20px;
  border-radius: 5px;

  .filter {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin: 0 0 40px 0;
    }

    &__title {
      margin-bottom: 20px;
      font-weight: 700;
      transition: color .3s;
    }

    input[type=checkbox] {
      position: relative;
      cursor: pointer;

      &:before {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        top: 0;
        left: 0;
        border: 2px solid #555555;
        border-radius: 5px;
        background-color: white;
      }

      &:checked:before {
        background-color: #333333;
      }

      &:checked:after {
        content: "";
        display: block;
        width: 6px;
        height: 10px;
        border: solid #ffffff;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 1px;
        left: 5px;
      }
    }

    &__sort {
      display: flex;
      margin: 5px 0 5px 0;
    }

    span {
      display: flex;
      margin-top: 2px;
      margin-left: 15px;
      cursor: pointer;
      transition: color .3s;
    }
  }
}