@import '../variables';

.header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #f5f5f5;
  min-height: 100px;
  border-bottom: 1px solid $gray-line;
  z-index: 10;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-direction: column;

      .header__cart {
        margin-bottom: 30px;
        margin-top: 50px;
      }
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    width: 260px;
    height: 35px;

    @media (max-width: 767px) {
      margin-top: 30px;
      text-align: center;
    }

    img {
      width: 55%;
    }

    h1 {
      color: #181818;
      font-size: 24px;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 800;
    }

    p {
      padding: 7px 7px 7px 0;
      margin-top: 5px;
      color: #7b7b7b;
    }
  }

  &__pages {
    display: flex;
    display:-webkit-flex;
    gap: 30px;
    -webkit-column-gap: 30px;

    &--link {
      font-size: 18px;
    }
  }
}
