.root {
  ul {
    display: flex;
    align-items: center;

    li {
      padding: 13px 30px;
      border-radius: 5px;
      margin-right: 10px;
      font-weight: bold;
      transition: background-color .3s;
      cursor: pointer;
      user-select: none;
    }
  }
}