.root {
  position: relative;
  transition: all .3s;
  border-radius: 10px;
}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  left: 12px;
  opacity: .4;
}

.input {
  width: 350px;
  padding: 12px 0 10px 42px;
  border: none;
  outline: 1px solid rgba(2, 2, 2, 0);
  border-radius: 10px;
  font-size: 16px;
  transition: opacity, outline .3s;

  &::placeholder {
    opacity: .8;
  }

  &:focus-visible {
    outline: 1px solid rgba(2, 2, 2, .2);

    &::placeholder {
      opacity: .4;
    }
  }
}

.iconClose {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 18px;
  height: 18px;
  opacity: .3;
  cursor: pointer;
  transition: opacity .3s;

  &:hover {
    opacity: .8;
  }
}