.root {
  position: relative;

}

.icon {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 10px;
  left: 12px;
  opacity: .3;
}

.input {
  width: 350px;
  padding: 12px 0 10px 42px;
  border: 1px solid rgba(0, 0, 0, .1);
  border-radius: 10px;
  font-size: 16px;

  &::placeholder {
    opacity: .8;
  }
}

.iconClose {
  position: absolute;
  top: 12px;
  right: 15px;
  width: 18px;
  height: 18px;
  opacity: .3;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    opacity: .8;
  }
}